body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://cdn.dribbble.com/users/893939/screenshots/2276567/media/c7a8b43993d73724199f2bd26ea80f9f.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
