body {
    font-family: Arial, sans-serif;
    background: rgb(247, 245, 245); 
    margin: 0; 
    padding: 0;  
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

header {
    background-color: black;
    background-image: url("https://cdn.aarp.net/content/dam/aarp/auto/2020/03/1140-couple-driving-near-beach.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.logo a {
    background-image: url("../image/auto_trust_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 90px;
    width: 120px;
    text-indent: -9999px;
    content: "";
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

nav li {
    display: inline-block;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    transition: color 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

nav a:hover {
    color: #ffcc00;
}

.header-bottom {
    padding-bottom: 100px;
    text-align: center;
}
.header-bottom h1 {
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.header-bottom p {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.login-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.login-button:hover {
    background-color: #0056b3;
}

nav a.active {
    color: #ffcc00;
}
